@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "inter", sans-serif;
}

/* .navbar-fixed {
    bg-white bg-opacity-80;
    backdrop-filter: blur(5px);
} */

.container: {
    center: true;
    padding: '16px'
}

.screens: {
    '2xl' : '1320xl',
}

.hamburger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin:7px;
    transition: all 0.3s;
    z-index: 99;
}